.footer {
	background: #fff5ed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	align-items: center;
}

.products {
	width: 100px;
	height: 100px;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.footer-images-wrapper {
	margin-left: 80px;
	display: flex;
	gap: 2rem;
}

.footer-play-icon {
	padding: 1rem;
	border: 2px solid gray;
	margin-right: 30px;
	cursor: pointer;
	border-radius: 8px;
}

.play-logo {
	font-size: 40px;
	color: rgb(143, 86, 12);
}

.play-desc {
	text-align: center;
	font-weight: 600;
	color: #444444;
}
